{erl_opts, [debug_info]}.
{plugins, [rebar3_path_deps]}.
{deps, [
        {antidote, {path, "../antidote"}}
]}.

{profiles,
 [{test, [
          {deps, [
                  {vx_client, {path, "../vx_client"}}
                 ]}
         ]}
 ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [vx_server]}
]}.
