{erl_opts, [debug_info]}.
{plugins, [rebar3_path_deps, rebar3_proper]}.

{project_app_dirs, ["../*", "."]}.
{deps, [ poolboy ]}.

{profiles,
  [{test, [
           {deps, [
                   {vx_client, {path, "../vx_client"}},
                   meck,
                   proper
                  ]}
          ]}
  ]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [vx_server]}
]}.

{xref_checks, [undefined_function_calls, undefined_functions,
               deprecated_function_calls, deprecated_functions]}.
